<html>
    <head>
        <title>WaVe it</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/index.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" type="text/javascript"></script>
        

    </head>
    <body >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-custom">
                        <a href="#" class="navbar-brand ">W</a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                             <a class="nav-link" href="/about">About</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="/register">Sign up</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="/login">Login</a>
                         </li>
                         
                        </ul>
                    </nav>
                </div>
            </div>
        </div>